$primary-color: #2962ff;
$secondary-color: #f8f9fa;
$danger-color: #dc3545;
$default-color: #758696;

$border-color-default: #e4e6eb;
$border-color-primary: #eceef3;

$box-shadow: 0 0 10px 0 #e6e5ea;
